{% extends "base.html" %}

{% block content %}
<h1>Kanji similarity search</h1>

<form method="GET">
  <input type="text" value="{{query}}" name="query" />
  <input type="submit" value="Search" />
</form>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
  {% endfor %}
</ul>
{% endif %}

{% if results %}
<hr/>
<table>
  <thead>
    <tr>
      <th>Score</th><th>Neighbour</th><th>Translate</th>
    </tr>
  </thead>
  <tbody>
  {% for result in results %}
  <tr>
    <td>{{result.weight|floatformat:3}}</td>
    <td>
      <a href="?query={{result.kanji}}&trace={{trace}}">{{result.kanji}}</a>
    </td>
    <td>
      <a
      href="http://kub.gakusha.info/kanji/translate/?kanji={{result.kanji}}">translate</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
