{% extends "base.html" %}

{% block headers %}
  <link href="{{MEDIA_URL}}css/lookup.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="{{MEDIA_URL}}js/MochiKit.js"/>
  </script>
  <script type="text/javascript">
    var g_pivotPath = "{% url old_search_xhr %}";
    var g_translatePath = "http://kub.gakusha.info/kanji/translate/";
  </script>
  <script type="text/javascript" src="{{MEDIA_URL}}js/search.js"></script>
{% endblock %}

{% block body_tags %}onload="initInterface()"{% endblock %}

{% block content %}
  {% if errorMessage %}
    <p><i>ERROR: {{ errorMessage }}</i></p>
  {% endif %}

  <div id="lookupBorder" style="position:absolute;top:0;bottom:0;left:0;right:0;width:80%; height:80%; margin:auto; opacity:0.0;">
  </div>
  
  <!-- Add a hidden dummy pivot to start with, to determine size -->
  <div style="position:absolute; top:30px; left:30px; opacity:0.0;" id="pivotKanji">鮨</div>
  
  <!-- Add hidden navigation links -->
  <a href="javascript:;"
    onmouseover="roll('backControl', '{{MEDIA_URL}}img/lookup_back_hover.png')"
    onmouseout="roll('backControl', '{{MEDIA_URL}}img/lookup_back_static.png')"
    onclick="previousPivot()"
    >
    <div style="opacity:0; position:absolute;" id="backControl">
      <img src="{{MEDIA_URL}}img/lookup_back_static.png" name="backControl">
    </div>
  </a>
  <a href="javascript:;"
    onmouseover="roll('resetControl', '{{MEDIA_URL}}img/lookup_reset_hover.png')"
    onmouseout="roll('resetControl', '{{MEDIA_URL}}img/lookup_reset_static.png')"
    onclick="switchState('seeding')"
    >
    <div style="opacity:0; position:absolute;" id="resetControl">
      <img src="{{MEDIA_URL}}img/lookup_reset_static.png" name="resetControl">
    </div>
  </a>
  <a href="javascript:;"
    onmouseover="roll('forwardControl', '{{MEDIA_URL}}img/lookup_forward_hover.png')"
    onmouseout="roll('forwardControl', '{{MEDIA_URL}}img/lookup_forward_static.png')"
    onclick="nextPivot()"
    >
    <div style="opacity:0; position:absolute;" id="forwardControl">
      <img src="{{MEDIA_URL}}img/lookup_forward_static.png" name="forwardControl">
    </div>
  </a>

  <!-- Add a simple submission form -->
  <form name="seedForm" onsubmit="return submitSeed()">
    <div id="seedLookup">
      <input type="text" name="seedKanji" size="10"/>
      <a href="javascript:;" onclick="submitSeed()">
        <img src="{{MEDIA_URL}}img/magnifier.png" name="magnifier">
      </a>
    </div>
  </form>

  <div class="error" id="errorMessage" style="opacity:0.00"></div>
{% endblock %}
