<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Visual kanji search</title>
  <link rel="stylesheet" href="{{MEDIA_URL}}css/blueprint/screen.css"
    type="text/css" media="screen, projection">
  <link rel="stylesheet" href="{{MEDIA_URL}}css/blueprint/print.css"
    type="text/css" media="print">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{MEDIA_URL}}css/blueprint/ie.css"
      type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="{{MEDIA_URL}}css/common.css" 
    type="text/css" media="screen, projection" />
  {% block headers %}
  {% endblock %}

</head>

<body {% block body_tags %}{% endblock %}>
{% block navigation %}
<p id="nav">
  <a href="/">Search</a> <span style="color:#bbb">/</span>
  <a href="/help/">Help</a> <span style="color:#bbb">/</span>
  <a href="/feedback/">Feedback</a> <span style="color:#bbb">/</span>
  <a href="/about/">About</a>
</p>
{% endblock %}

{% block content %}
{% endblock %}

{% block copy %}
<p id="copy">
  Visual kanji search (<a
  href="http://bitbucket.org/larsyencken/simsearch/">r{{revision.number}}:{{revision.short}}</a>)
</p>
{% endblock %}

{% if settings.GOOGLE_ANALYTICS_CODE %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{settings.GOOGLE_ANALYTICS_CODE}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
</body>
</html>
