/*
 * common.css
 */


#copy {
    bottom: 0;
    font: 300 1.2em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #505050;
    /*
    border: 1px solid #dddddd;
    padding: 3px;
    */
}
#copy a {
    color: #303090;
}
#copy a:hover {
    text-decoration: underline;
}

a, a:hover { color: #303090; }
a:hover {
    text-decoration: underline;
}

#nav {
    bottom: top;
    font: 300 1.2em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: right;
    color: #505050;
}
#nav a {
    color: #303090;
}
#nav a:hover {
    text-decoration: underline;
}
