/*
 *  lookup.css
 */

body {
  background: #f3f3f3;
}

a {text-decoration: none; }
a img {border: none;}

p {
  text-align: center;
  font: 300 1.2em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#seedLookup {
  width:190px;
  height:50px;
  position:absolute; margin:auto; top:0; right:0; left:0; bottom:0;
  text-align: center;
}

#seedInput {
  border:1px solid #505050;
  font-size:20px;
  width: 120px;
  margin: 0px;
  vertical-align: top;
}

#seedLookup > img {
  width: 29px;
  height: 29px;
  margin: 0px;
}
