{% extends "static/base.html" %}

{% block inner_content %}
<h1>Feedback</h1>

<p>Interfaces like this can only get better with your help. If you have
difficulty using the interface, feature suggestions, or any other kind of
feedback, please send an email to <a href="mailto:lars@yencken.org">lars@yencken.org</a>.

<p>Also note that the full source code to this site is available on <a href="http://bitbucket.org/larsyencken/simsearch/">Bitbucket</a>, allowing you to host your own version, or modify it as you like.</p>

{% endblock %}
